#SideBar
    padding: 10px
    width: 179px
    background: #fff
    height: calc(100% - 220px)
    border-right: 1px solid #f0f0f0
    overflow-y: scroll
    overflow-x: hidden
    ul
        margin-bottom: 15px

        .ui-state-highlight
            background: #eee
            box-shadow: none
            border: none
            height: 13px
        li
            padding: 7px 5px
            color: rgba(black, .8)
            font-size: 13px
            font-weight: 400
            border-radius: 3px
            width: 100%

            .fa-align-justify
                float: right

            i
                margin-right: 5px
                opacity: 0.6

            &:first-of-type
                margin-top: 0
            &:last-of-type
                margin-bottom: 0

            &:not(.sep):not(.active):hover
                cursor: pointer
                background: rgba(black, .05)
                color: black
            &.sep
                padding: 0

            &.active
                background: rgba(black, .07)
                border-radius: 3px
                color: rgb(131, 131, 131)

            hr
                border: 0
                border-top: 1px solid rgba(black, .05)
                height: 0